<section class="list-section">

  <div class="follows-container card">
    <h2 class="title">Following</h2>
      <% @followed.each do |user| %>
        <div class="comment" style="align-items:center;">
          <%= render "profiles/profile_nav", user: user %>
          <div>
            <%= button_to "Unfollow", unfollow_path(user), method: :delete, class: "btn blue" %>
          </div>
        </div>
      <% end %>
  </div>

  <div class="follows-container card">
    <h2 class="title">Not Following</h2>
      <% @unfollowed.each do |user| %>
        <div class="comment" style="align-items:center;">
          <%= render "profiles/profile_nav", user: user %>
          <div>
            <%= button_to "Follow", follow_path(user), class: "btn submit" %>
          </div>
        </div>
      <% end %>
  </div>

</section>
