<h1>Users#index</h1>
<% @users.each do |user| %>
  <div>
    <p><%= link_to "#{user.first_name + " " + user.last_name}", user_path(user) %></p>
    <%= button_to "Follow", follows_path, params: {followed_id: user.id} %>
  </div>
<% end %>
<p>Find me in app/views/users/index.html.erb</p>
