:root {
  --background-color: #f7f3ee;
  --primary-color: #2e4a3f;
  --secondary-color: #a68b7c;
  --button-color: #d26640;
}


body {
  background-color: var(--background-color);
  margin: 0px;
}

button {
  background-color: var(--button-color);
}

section {
  margin-bottom: 20px;
}
.profile-background-container {
  height: 350px;
  position: relative;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-avatar-container {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  box-shadow: 2px 2px 10px black;
  border-radius: 50%;
  overflow: hidden;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 2px 5px gray;
  padding: 10px;
  background-color: white;
}

.flex-container {
  display: flex;
  align-items: start;
  gap: 10px;
}

.center-x {
  justify-content: center;
}

